html {
 /* scroll-behavior: smooth; */
 scroll-padding-top: 3rem;
}
  
*{
 font-family: 'Roboto', sans-serif;
}
  
body {
 width: 80vw;
 box-sizing: border-box;
 margin: auto;
}
  
section {
 padding-top: 5vh;
}
    
p {
 text-align: justify;
 color: #4c4c4e;
}
  
b {
 color: #1e4b7a;
}

b.extra {
 font-size: 1.3rem;
}
  
a {
 color: #cc0052;
}
  
a:hover {
 color: #000; 
}
  
.good_to_know {
 border: 2px solid #cc0052;
 border-radius: 5px;
 font-size: .8rem;
 padding: 10px;
 padding-top: 5px;
}
  
.title {
 color: #cc0052;
 padding-left: 1vw;
}
    
.highlighted {
 color: #cc0052 !important;
} 
  
/* Table styling */
table {
 border-collapse: collapse;
 width: auto;
}
  
th {
 border-top: 1px solid #333;
 border-bottom: 1px solid #333;
 margin-top: 15px;
 padding: 5px;
 vertical-align: top;
 font-size: 0.9rem;
 color: #003366;
}
  
tbody {
 text-align: right;
 vertical-align: top;
 font-size: 0.9rem;
 color: #4c4c4e;
 border-bottom: 1px solid #333;
}
  
tr:nth-child(even) {
 background-color: #dddddd;
}

/* Maps */
#map_12_months_id {
 height: 480px;
 margin: auto;
 background-color: antiquewhite;
}

#map_24_months_id {
 height: 480px;
 margin: auto;
 background-color: antiquewhite;
}

#map_5_years_id {
 height: 480px;
 margin: auto;
 background-color: antiquewhite;
}